  td.details-control {
    background: url(https://datatables.yajrabox.com/images/details_open.png) no-repeat center center;
    cursor: pointer;
    width: 18px;
  }

  tr.shown td.details-control {
    background: url('https://datatables.yajrabox.com/images/details_close.png') no-repeat center center;
  }
